/*-------------------------------------------
header
-------------------------------------------*/
.header {
  text-align: center;
  margin: 40px 0;
}

.header .header_title {
  font-size: 40px;
}

.mantas {
  margin: 0 30px;
}

.common_section {
  padding: 40px 0;
}

.common_inner {
  max-width: 420px;
  margin: auto;
}

/*-------------------------------------------
application
-------------------------------------------*/
.application {
  background: #1c1c1c;
  padding: 40px 30px;
  color: #fff;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.application_item {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
}
.application_item:first-of-type {
  margin-top: 0;
}
.mantas_inner + .mantas_inner {
  margin-top: 60px;
}

/*-------------------------------------------
test
-------------------------------------------*/
.test_item {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
}
.test_item:first-of-type {
    margin-top: 0;
}


@media screen and (min-width: 768px) {
  .common_inner {
    max-width: none;
  }
  .application {
    display: flex;
    justify-content: space-between;
  }
  .application .mantas_inner {
    width: 48%;
  }
}